/* src/app/home/home.component.css */
.home-container {
        position: relative;
        height: 100vh;
        background-image: url('/assets/background.jpeg'); /* Update the path to your background image */
        background-size: 110%;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
      }
      
      .centered-text {
        background: rgba(0, 0, 0, 0.5); /* Optional: add a semi-transparent background for better text visibility */
        padding: 80px;
        border-radius: 10px;
      }
      